* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.parent-container {
    width: 400px;
    height: 400px;
    background-color: blue;
    border: 5px solid green;

    display: flex;
    align-items: center;
    justify-content: center;
}

.child-container {
    width: 60px;
    height: 60px;
    background-color: gold;
    border: 5px double red;
}